img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 70px auto;
  position: relative;
  display: inline-block;
}

.image {
  margin-bottom: 55px;
  position: relative;
  /* filter: blur(); */
  /* filter: grayscale(100%); */
  /* filter: contrast(70%) brightness(60%); */
  filter: drop-shadow(0 0 3px rgba(255, 0, 0, 0.5));
  /* filter: opacity(80%); */
}

.text-overlay {
  position: absolute;
  top: 50%; /* vertical center */
  left: 50%; /* horizontal center */
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 2px black; /* improves readability */
}
