* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  gap: 15px;
  /* padding: 20px; */
}

.flex-container {
  background-color: #ccc;
  display: flex;
  width: 500px;
  height: 500px;
  /* flex-direction: row; */
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  /* row-gap: 10px; */
  /* column-gap: 10px; */
}
.flex-container-column {
  background-color: #472323;
  display: flex;
  width: 500px;
  height: 500px;
  /* flex-direction: row; */
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  /* row-gap: 10px; */
  /* column-gap: 10px; */
}

.flex-item {
  background-color: lightcoral;
  height: 200px;
  width: 200px;
  border: 1px solid black;
}
