*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fc5d66;
  --secondary-color: #ffc05a;
  --light-color: #f9fafb;
  --dark-color: #272d35;
}
html,
body {
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}
a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}
img {
  max-width: 100%;
}

/* Containers */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}
.container-sm {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;
}
/*  */
/* Navbar */
.navbar {
  background-color: black;
  color: var(--light-color);
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
  /* width: 100%; */
  /* background: transparent; */
  /* font-size: 1rem; */
  /* font-weight: bold; */
}
.navbar img {
  width: 81px;
  height: 32px;
}
.navbar a {
  color: var(--light-color);
  &:hover {
    color: var(--secondary-color);
  }
}
.navbar i {
  font-size: 1.5rem;
}
.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .main-menu-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
}

/* Hero */
.hero {
  color: var(--light-color);
  padding: 10rem 0;
  background: url("../images/header-background.jpg") center / cover no-repeat;
  min-height: 100vh;
}
.hero-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.left-hero {
  padding: 2rem;
  h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  p {
    margin-bottom: 0.5rem;
  }
  a {
    margin-top: 1rem;
    background-color: var(--secondary-color);
    padding: 1rem 2rem;
    border-radius: 35px;
  }
}

/* ’Mobile Menu */
.mobile-menu {
  display: none;
}
.navbar .mobile-menu-toggle {
  &:hover {
    cursor: pointer;
    color: var(--secondary-color);
  }
}
.mobile-menu-items {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  width: 100%;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 3rem 2rem;
  opacity: 0.95;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  background-color: rgba(0, 0, 0, 0.8);
}
.navbar .mobile-menu-items.active {
  transform: translateX(0);
}
.navbar .mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
}
/* Media Queries */
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
  .navbar .mobile-menu {
    display: block;
  }
  .main-menu-items {
    display: none;
  }
  .navbar .mobile-menu-toggle {
    /* display: ; */
    padding: 10px;
  }
}
@media (max-width: 576px) {
}
