/* h2 {
  color: red;
   font-size: 30px;
}

a {
    color: blue;
    text-decoration: none;
} */

.sporty {
  color: red;
}
.casual {
  color: blue;
}
.formal {
  color: brown;
}

.sporty,
.casual {
  font-size: 35px;
}
